.about {
  padding: 4em 17em;
  color: rgb(44, 44, 44);

  display: inline-flex;
  
  .about-info {
    border-bottom: 1px solid #cacaca;

    h1 {
      font-family: 'Alef', sans-serif;
    }
  
    span {
      font-family: 'PT Serif', serif;
      font-weight: 200;
      font-size: 1.2em;
    }
  }

  img {
    margin-left: 3em;
    width: 200px;
    height: 200px;
  }
}