.blog-list-container {
  margin: 4em 0;
  // padding: 0 17em;
  font-family: 'PT Serif', serif;
  color: rgb(41, 41, 41);
  
  .blog-card {
    margin-bottom: 2em;
    padding-bottom: 3em;
    border-bottom: 1px solid rgb(170, 170, 170);
  }

  a {
    text-decoration: none;
    color: rgb(41, 41, 41);
  }

  .blog-card-date {
    color: rgb(117, 117, 117);
  }

  .blog-card-title {
    font-family: 'Alef', sans-serif;
    font-size: 2.25em;
    margin: 0.25em 0;
  }

  .blog-card-sub-title {
    // margin: 0 0 0.5em 0;
    color: #6b6b6b;
  }

  .blog-card-img {
    width: 100%;
    height: auto;
    margin: 1em 0 2em;
  }

  .blog-card-text {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .comment-container {
    margin: 1em 0 0 0;
    display: flex;
    align-items: center;

    .comment-icon {
      width: 25px;
      height: auto;
    }

    p {
      margin: 0 0 0.1em 0.5em;
      font-size: 1.1em;
    }
  }

}