.blog-list-container {
  font-family: 'PT Serif', serif;
  color: rgb(41, 41, 41);
  
  margin: 3em auto;
  width: 50%;

  position: relative;
  
  .blog-card {
    margin-bottom: 2em;
    padding-bottom: 3em;
    border-bottom: 1px solid rgb(170, 170, 170);
  }

  a {
    text-decoration: none;
    color: rgb(41, 41, 41);
  }

  .blog-card-date {
    color: rgb(117, 117, 117);
  }

  .blog-card-title {
    font-family: 'Alef', sans-serif;
    font-size: 2.25em;
    margin: 0.25em 0 0.1em 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .blog-card-sub-title {
    color: #6b6b6b;
    font-size: 1.3em;
  }

  .blog-card-img {
    width: 100%;
    height: auto;
    margin: 1em 0 2em;
  }

  .blog-card-text {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  
  .read-more {
    margin-top: 0.7em;
    color: rgba(26, 137, 23, 1);
  }

  .comment-container {
    margin: 1em 0 0 0;
    display: flex;
    align-items: center;

    .comment-icon {
      width: 25px;
      height: auto;
    }

    p {
      margin: 0 0 0.1em 0.5em;
      font-size: 1.1em;
    }
  }

  .sidebar {
    position: fixed;

    top: 50%;
    left: 40px;

    width: 200px;
    height: 100px;

    background-color: red;
  }
}

@media only screen and (max-width: 1100px) {
  .blog-list-container {
    width: 60%;
  }
}

@media only screen and (max-width: 720px) {
  .blog-list-container {
    width: 70%;
  }
}

@media only screen and (max-width: 576px) {
  .blog-list-container {
    width: 80%;
  }
}