.sidebar {
  position: absolute;
  // top: 1%;
  left: -46.5%;
  padding: 20px;

  width: 275px;
  height: 400px;

  img {
    width: 150px;
    height: 150px;
  }

  .about-sidebar {
    margin-top: 1em;
    margin-left: 0.6em;

    h3 {
      margin-bottom: 0.5em;
      // color: rgba(41, 41, 41, 1);
    }

    p {
      color: rgba(117, 117, 117, 1);
    }
  }
}

@media only screen and (max-width: 1250px) {
  .sidebar {
    display: none;
  }
}