.blog {
  margin: 4em 0;
  font-family: 'PT Serif', serif;
  color: rgb(41, 41, 41);
  
  .blog-date {
    color: rgb(117, 117, 117);
  }

  .blog-title {
    font-family: 'Alef', sans-serif;
    font-size: 2.25em;
    margin: 0.25em 0 0.1em 0;
  }

  .blog-subtitle {
    color: #6b6b6b;
    font-size: 1.6em;
  }

  img {
    width: 100%;
    height: auto;
    margin: 1em 0 2em;
  }

  .blog-text {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  .blog-comment {
    border-bottom: 1px solid red;
    margin: 2em 0;
    padding-bottom: 2em;

    h3 {
      font-weight: 600;
    }
  }
}